body {
    font-family: Arial, Helvetica, sans-serif;

    color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    width: 100%;
    max-width: 100%;
    background-color: var(--accent-color-3);
    justify-content: space-between;

}

.hero-text span {
    opacity: 0.6;

}

.logo {
    width: 10vw;
    max-width: 40px;
    height: auto;

}

.hamburger {
    width: 10vw;
    max-width: 40px;
    height: auto;


}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-3);
    justify-content: center;

}

.hero-image {
    max-width: 100%;
    height: auto;

}

.page-title {
    font-family: var(--font-main-bold, Arial);
    font-size: 1.5rem;
    margin: 0;
}