body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: calc(2rem + clamp(1.5rem, 3vw + 0.75rem, 1.875rem));   /* Space for the footer */
  box-sizing: border-box;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  flex: 1;
}

.chat-header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-1);
  background-color: var(--font-color-2);
}

.chat-header i {
  font-size: larger;
  color: var(--background-color-1);
}

#call-icon {
  color: var(--accent-color-2);
}

.chat-header .user {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
}

.chat-header .user p {
  margin: auto;
}

.chat-header .buttons-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 1em;
}

.chat-header .user img {
  border-radius: 100%;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.chat-box {
  display: flex;
  justify-content: center;
  height: 100%;
}

.chat-box p {
  border-radius: 50px;
  text-align: center;
  height: 2rem;
  width: 10rem;
  background-color: #868ba31c;
  color: #000000bb;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #868ba364;
  height: 6rem;
  border-radius: 20px;
  
}

.chat-footer i {
  font-size: larger;
  color: var(--accent-color-2);
}

.chat-footer #msg-input {
  padding: 0.7rem;
  border:none;
  border: 1px solid #8b9fb4;
  border-radius: 50px;
  width: 16rem;
}