/* Empty CSS for chat page */

/* :root {
    --background-color-1: #E0EBF7;
    --background-color-2: #AFCAEA;
    --accent-color-1: #7CAAE0;
    --accent-color-2: #72A4DE;
    --accent-color-3: #365983;
    --font-color-2: #16274D;
    --font-color-faded: #868BA3;
} */


/* @media (min-width: 375px) and (max-width:667px){ */

.chat-header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  column-gap: 10rem;
  color: var(--background-color-1);
  background-color: var(--font-color-2);
}

.chat-header i {
  font-size: larger;
  color: var(--background-color-1);
}

#call-icon {
  color: var(--accent-color-2);
}

.chat-header .user {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.chat-header .user img {
  border-radius: 100%;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.chat-box {
  display: flex;
  justify-content: center;
  height: 40rem;
}

.chat-box p {
  border-radius: 50px;
  text-align: center;
  height: 2rem;
  width: 10rem;
  background-color: #868ba31c;
  color: #000000bb;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #868ba364;
  height: 6rem;
  border-radius: 20px;
  
}

.chat-footer i {
  font-size: larger;
  color: var(--accent-color-2);
}

.chat-footer #msg-input {
  padding: 0.7rem;
  border:none;
  border: 1px solid #8b9fb4;
  border-radius: 50px;
  width: 16rem;
}

/* } */