body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: calc(2rem + clamp(1.5rem, 3vw + 0.75rem, 1.875rem));   /* Space for the footer */
  box-sizing: border-box;
  
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  flex: 1 1 auto;
  height: 100%;
}

.chat-header {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color-1);
  background-color: var(--font-color-2);
}

.chat-header i {
  font-size: larger;
  color: var(--background-color-1);
}

#call-icon {
  color: var(--accent-color-2);
}

.chat-header .user {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
}

.chat-header .user p {
  margin: auto;
}

.chat-header .buttons-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 1em;
}

.chat-header .user img {
  border-radius: 100%;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.chat-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap:2rem;
  height: 100%;
  overflow-y: auto;
}

.chat-box p {
  border-radius: 50px;
  text-align: center;
  height: 2rem;
  width: 10rem;
  height: 100%;
  color: #000000bb;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  border: 1px solid #868ba364;
  height: 8rem;
  width:95%;
  border-radius: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: rgba(30, 143, 255, 0.032);
  
}

.chat-footer i {
  font-size: larger;
  color: var(--accent-color-2git);
}

.chat-footer #msg-input {
  padding: 0.9rem;
  border:none;
  border: 1px solid #8b9fb487;
  border-radius: 50px;
  width: 18rem;
font-size: large;
}


.chat-box{
  display: flex;
  flex-direction: column;
padding: 1rem;
}





.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
    max-width: 90%; 
    height: 100%;
    
    padding: 8px 12px;
    border-radius: 18px;
    word-wrap: break-word;
    
}


.message p{
  width:100%;
  height: 100%;
  padding: 0.3rem;

}

.user-message {
    align-self: flex-end; 
    align-items: flex-start;
    height: fit-content;
    background-color: var(--background-color-1);
    color: #000;
    border-bottom-right-radius: 4px;
}


.gemini-message { 
    align-self: flex-start; 
    height: fit-content;
    background-color: rgba(211, 211, 211, 0.392); 
    color: black;
    border-bottom-left-radius: 4px; 
  
}

.chat-box  .chat-timestamp {
  font-size:smaller;
  border-radius: 50px;
  text-align: center;
  height: 2.5rem;
  width: 12rem;
padding: 0.7rem;
  color: #000000bb;
  background-color:var(--background-color-1);
}