@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;500;700&display=swap');
:root { 
    --background-color-1: #E0EBF7;
    --background-color-2: #AFCAEA;
    --accent-color-1: #7CAAE0;
    --accent-color-2: #72A4DE;
    --accent-color-3: #365983;
    --font-color-2: #16274D;
    --font-color-faded: #868BA3;

    /* Fonts */
    --font-main-bold: 'M PLUS Rounded 1c', sans-serif;
}