:root {
    --background-color-1: #E0EBF7;
    --background-color-2: #AFCAEA;
    --accent-color-1: #7CAAE0;
    --accent-color-2: #72A4DE;
    --accent-color-3: #365983;
    --font-color-2: #16274D;
    --font-color-faded: #868BA3;
}