* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background: var(--glass);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  position: sticky;
  z-index: 10;
  padding-left: 250px;
}
@media (max-width: 768px) {
  .header {
    padding-left: 0;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  position: sticky;
  
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  width: 35px;
  height: 35px;
}

.logo h1 {
  color: #4786c5;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
}

.burger-menu span {
  width: 28px;
  height: 4px;
  background-color: #7caae0;
  border-radius: 3px;
  transition: 0.3s;
}

/* ------------------ OFF-SCREEN MENU ------------------ */
.off-screen-menu {
  position: fixed;
  top: 0;
  left: -260px;
  margin-left: 250px;
  width: 250px;
  height: 100vh;
  background: var(--bg);
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.1rem;
  transition: left 0.3s ease;
  z-index: 999;
}
@media (max-width: 768px) {
  .off-screen-menu {
    margin-left: 0;
  }
}

.off-screen-menu.open {
  left: 0;
}

/* Menu items */
.off-screen-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.off-screen-menu li a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #7caae0;
  font-weight: 500;
}

.off-screen-menu li a:hover {
  color: #365983;
}

.header-li-img {
  width: 1em;
  height: auto;
}

/* Icon style */
.icon {
  width: 26px;
  height: 26px;
  filter: invert(73%) sepia(13%) saturate(1114%) hue-rotate(177deg) brightness(93%) contrast(92%);
  transition: 0.2s;
}


.off-screen-menu li a:hover .icon {
  filter: invert(26%) sepia(20%) saturate(1376%) hue-rotate(180deg) brightness(93%) contrast(84%);
}

/* Close button (X) */
.close-menu {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-menu::before,
.close-menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 3px;
  background-color: #365983;
  transform-origin: center;
  transition: 0.2s;
}

.close-menu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-menu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-menu:hover::before,
.close-menu:hover::after {
  background-color: #2c6fb2;
}

/* ------------------ RESPONSIVE ------------------ */
@media (max-width: 390px) {
  .off-screen-menu {
    left: -70vw;
    width: 70vw;
  }
}

@media (min-width: 768px) {
  .off-screen-menu {
    left: -25vw;
    width: 25vw;
  }
}
