<header class="header">
<nav class="navbar">
    <a href="/" class="logo">
    <img src="../../assets/logo/happy-paws-logo.png" alt="HappyPaws Logo">
    <h1>Happy Paws</h1>
    </a>
    <div class="burger-menu">
    <span></span>
    <span></span>
    <span></span>
    </div>
</nav>
<div class="off-screen-menu">
    <button class="close-menu"></button>
    <ul>
    <li>
        <a href="#">
        <img src="../../assets/icons/home.svg" alt="Home" class="header-li-img">
        Home
        </a>
    </li>
    <li>
        <a href="#">
        <img src="../../assets/icons/gallery.svg" alt="Gallery" class="header-li-img">
        Gallery
        </a>
    </li>
    <li>
        <a href="#">
        <img src="../../assets/icons/heart.svg" alt="Favorites" class="header-li-img">
        Favorites
        </a>
    </li>
    <li>
        <a href="#">
        <img src="../../assets/icons/dog.svg" alt="Adopt" class="header-li-img">
        Adopt
        </a>
    </li>
    <li>
        <a href="#">
        <img src="../../assets/icons/messages-square.svg" alt="Chat" class="header-li-img">
        Chat
        </a>
    </li>
    </ul>
</div>
</header>