<header class="header">
<nav class="navbar">
    <a href="../../../index.html" class="logo">
        <img src="/HappyPaws/icons/paw-like-icon.png" alt="HappyPaws Logo">
        <h1>Happy Paws</h1>
    </a>
    <div class="header-right">
      <span class="theme-button"></span>
      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
</nav>
<div class="off-screen-menu">
    <button class="close-menu"></button>
    <ul>
    <li>
        <a href="../../pages/Gallery/gallery.html">
        <img src="/HappyPaws/icons/home.svg" alt="Home" class="icon">
        Home
        </a>
    </li>
    <li>
        <a href="">
        <img src="/HappyPaws/icons/gallery.svg" alt="Gallery" class="icon">
        Gallery
        </a>
    </li>
    <li>
        <a href="#">
        <img src="/HappyPaws/icons/heart.svg" alt="Favorites" class="icon">
        Favorites
        </a>
    </li>
    <li>
        <a href="#">
        <img src="/HappyPaws/icons/dog.svg" alt="Adopt" class="icon">
        Adopt
        </a>
    </li>
    <li>
        <a href="#">
        <img src="/HappyPaws/icons/chat.svg" alt="Chat" class="icon">
        Chat
        </a>
    </li>
    </ul>
</div>
</header>