body {
 
font-family: 'M PLUS Rounded 1c', sans-serif;
    
 font-weight: 600;
  background-color: #5F89BC;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loading-container {
  
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 154px;
  height: 154px;
  filter: brightness(0.7);
  animation: easeInLogo 2s ease-out forwards;
}
.logo-wrapper {
  position: relative;
  display: inline-block;
}

.logo-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;  
  height: 250px;  
  background: radial-gradient(circle, #a7d0ff, transparent 70%);
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 50%;
  opacity: 0; /* começa invisível */
  animation: glowFadeIn 5s ease-out forwards; /* animação gradativa */
}

@keyframes glowFadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes easeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loading-text {
  color: #ffffff;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  animation: fadeInText 1.5s ease-out 0.3s forwards;
  margin-top: 0;
}
#shadow {
  text-shadow: 2px 2px 30px rgb(40, 48, 78);
}

.paw-loading-icon {
  margin-left: -1px;
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
}

.paw-loading-icon img {
  width: 26px;
  height: auto;
  filter: invert(1) brightness(1.5) contrast(1.5);
}

@keyframes pawLoadingIcon {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

.paw-loading-icon-1 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0s;
}

.paw-loading-icon-2 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0.15s;
}

.paw-loading-icon-3 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0.3s;
}
