body {
  background-color: #72a4de;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 134px;
  height: 134px;
  filter: brightness(0.7);
  animation: easeInLogo 2s ease-out forwards;
}

@keyframes easeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loading-text {
  color: #ebebeb;
  line-height: 24px;
  letter-spacing: 0.69px;
  text-align: center;
  font-size: 26px;
  animation: fadeInText 1.5s ease-out 0.3s forwards;
  opacity: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paw-loading-icon {
  margin-top: 3rem;
  display: flex;
  gap: 0.5rem;
}

.paw-loading-icon img {
  width: 26px;
  height: auto;
  filter: invert(1) brightness(1.5) contrast(1.5);
}

@keyframes pawLoadingIcon {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.2;
  }
  50% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

.paw-loading-icon-1 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0s;
}

.paw-loading-icon-2 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0.15s;
}

.paw-loading-icon-3 {
  animation: pawLoadingIcon 0.8s ease-in-out infinite;
  animation-delay: 0.3s;
}
