footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent-color-3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

footer svg {
    fill: var(--background-color-1);
    width: auto;
    height: 4em;
}