footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent-color-3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

.footer-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0;
}

footer svg {
    fill: var(--background-color-1);
    width: auto;
    height: 4em;
}

footer span {
    color: var(--background-color-1);
}