footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent-color-3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
}

.footer-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

footer svg {
    fill: var(--background-color-1);
    width: auto;
    height: clamp(2rem, 4vw + 1rem, 2.5rem);
}

footer span {
    color: var(--background-color-1);
    font-size: clamp(0.75rem, 2vw + 0.5rem, 1rem);
}