footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent-color-3);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
    z-index: 10;
    font-family: var(--font-main-light);
}

.footer-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

footer svg {
    fill: var(--background-color-1);
    width: auto;
    height: clamp(1.5rem, 3vw + 0.75rem, 1.875rem);
}

footer span {
    color: var(--background-color-1);
    font-size: clamp(0.5625rem, 1.5vw + 0.375rem, 0.75rem);
}